//Neutral
$black: #263238;
$D_grey: #4D4D4D;
$grey: #717171;
$L_grey: #89939E;
$grey-blue: #ABBED1;
$silver: #F5F7FA;

$clr-primary: #28CB8B;
$clr-secondary: #263238;
$clr-info: #2194F3;

//Color Shade
$clr-shade-1: #43A046;
$clr-shade-2: #388E3B;
$clr-shade-3: #237D31;
$clr-shade-4: #1B5E1F;
$clr-shade-5: #103E13;

//Color Tint
$clr-tint-1: #66BB69;
$clr-tint-2: #81C784;
$clr-tint-3: #A5D6A7;
$clr-tint-4: #C8E6C9;
$clr-tint-5: #E8F5E9;

//Action
$clr-warning: #FBC02D;
$clr-error: #E53835;
$clr-success: #2E7D31;