$shadow-1: 2px 2px 24px rgba(171, 190, 209, 0.6);
$shadow-2: 4px 4px 24px rgba(171, 190, 209, 0.4);
$shadow-3: 6px 6px 24px rgba(171, 190, 209, 0.3);
$shadow-4: 8px 8px 24px rgba(171, 190, 209, 0.4);
$shadow-5: 16px 16px 24px rgba(171, 190, 209, 0.3);